<div class="center jumbotron">
  <h1>DUOS Project</h1>

  <h2>
    This is the home page for the DUOS Project ...
  </h2>
  
   <!-- Sign Up will be implimented Later
   <%= link_to "Sign up now!", signup_path, class: "btn btn-lg btn-primary" %> 
   -->
   <%= link_to "About DUOS", about_path, class: "btn btn-lg btn-primary" %>
   <%= link_to "Publications", publications_path, class: "btn btn-lg btn-primary" %>
   <%= link_to "Contact Us", contact_path, class: "btn btn-lg btn-primary" %>
   <%= link_to "People", people_path, class: "btn btn-lg btn-primary" %>
   
</div>